<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Be-Music Surge Songlist</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-vue@2.0.0-rc.28/dist/bootstrap-vue.min.css"
    />
  </head>
  <body>
    <div id="app">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="/">Be-Music Surge</a>
      </nav>
      <main role="main" class="container-fluid">
        <router-view></router-view>
      </main>
    </div>
    <script>
      const routes = []
      const components = {}
      function startApp() {
        return new Vue({
          router: new VueRouter({ routes }),
          el: '#app'
        })
      }
    </script>

    <template id="home-page">
      <div>
        Home page
      </div>
    </template>
    <script>
      routes.push({
        path: '/',
        component: {
          template: '#home-page'
        }
      })
    </script>

    <template id="event-page">
      <event-view
        :event-id="$route.params.eventId"
        :key="$route.params.eventId"
      ></event-view>
    </template>
    <template id="event-view-template">
      <div>
        <template v-if="report">
          <h2>Unfinished items ({{ unfinishedItems.length }})</h2>
          <song-table :songs="unfinishedItems"></song-table>
          <h2>Unassigned items ({{ unassignedItems.length }})</h2>
          <p>Available entries to match: {{ availableEntries.length }}</p>
          <p>
            <button class="btn btn-sm btn-primary" @click="autoMatch">
              Auto-match
            </button>
            <button class="btn btn-sm btn-primary" @click="save">
              Save changes
            </button>
          </p>
          <song-table :songs="unassignedItems"></song-table>
          <h2>Assigned items ({{ assignedItems.length }})</h2>
          <song-table :songs="assignedItems"></song-table>
          <datalist id="available-entries">
            <option
              v-for="entry in availableEntries"
              :key="entry.entryId"
              :value="entry.entryId"
              >{{ entryName(entry) }}</option
            >
          </datalist>
        </template>
        <div v-else>Loading report...</div>
      </div>
    </template>
    <script>
      routes.push({
        path: '/event/:eventId',
        component: {
          template: '#event-page'
        }
      })
      components['event-view'] = {
        template: '#event-view-template',
        props: { eventId: String },
        data() {
          return {
            report: null,
            songEntryAssignmentMap: new Map()
          }
        },
        async mounted() {
          window.currentEventPage = this
          this.loadData()
        },
        computed: {
          entries() {
            const event = this.report.event
            return (event && event.entries) || []
          },
          items() {
            return this.report.songs
          },
          unfinishedItems() {
            return this.items.filter(
              s => s.status === 'error' || s.status === 'pending'
            )
          },
          renderedItems() {
            return this.items.filter(s => s.status === 'done')
          },
          assignedItems() {
            return this.renderedItems.filter(s => !!s.entryAssignment.entryId)
          },
          unassignedItems() {
            return this.renderedItems.filter(s => !s.entryAssignment.entryId)
          },
          availableEntries() {
            const assignedEntryIds = new Set(
              this.items
                .filter(s => !!s.entryAssignment.entryId)
                .map(s => s.entryAssignment.entryId)
            )
            return this.entries.filter(e => !assignedEntryIds.has(e.entryId))
          }
        },
        methods: {
          async loadData() {
            try {
              const eventId = this.eventId
              const url = '/report.json?eventId=' + eventId
              const report = await fetch(url).then(r => r.json())
              this.report = {
                songs: report.songs.map(song =>
                  Object.assign(song, {
                    entryAssignment: this.getEntryAssignmentForSongId(
                      song._id,
                      song.entryId
                    )
                  })
                ),
                event: report.events.find(e => e._id === eventId)
              }
            } catch (e) {
              alert(e)
            }
          },
          getEntryAssignmentForSongId(songId, defaultValue = null) {
            if (!this.songEntryAssignmentMap.has(songId)) {
              this.songEntryAssignmentMap.set(songId, {
                entryId: defaultValue
              })
            }
            return this.songEntryAssignmentMap.get(songId)
          },
          statusBadge(status) {
            return {
              done: 'badge-success',
              error: 'badge-danger',
              pending: 'badge-secondary'
            }[status]
          },
          songClick(song) {
            console.log(JSON.parse(JSON.stringify(song)))
          },
          entryName(entry) {
            return `[${entry.genre}] ${entry.artist} - ${entry.title}`
          },
          async save() {
            const mappings = this.items
              .filter(
                s => (s.entryAssignment.entryId || '') !== (s.entryId || '')
              )
              .map(s => ({
                songId: s._id,
                entryId: s.entryAssignment.entryId || null
              }))
            const response = await fetch('/entry-mapping', {
              method: 'PATCH',
              headers: {
                Accept: 'application/json',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({ mappings })
            })
            const text = await response.text()
            alert(text)
            this.loadData()
          },
          autoMatch() {
            const items = this.renderedItems
            const entries = this.entries

            const matches = []
            for (const song of items) {
              const title = song.selectedChart.info.title
              const entryMatches = entries.filter(e => e.title === title)
              if (entryMatches.length === 1) {
                const [entry] = entryMatches
                const itemMatches = items.filter(
                  s => s.selectedChart.info.title === entry.title
                )
                if (itemMatches.length === 1) {
                  matches.push({ entry, song })
                }
              }
            }

            for (const { entry, song } of matches) {
              song.entryAssignment.entryId = entry.entryId
            }
          }
        }
      }
    </script>

    <template id="song-table-template">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>ID</th>
            <th>File</th>
            <th>Song</th>
            <th>Entry</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="song of songs" :key="song._id">
            <td>{{ song._id }}</td>
            <td>{{ song.packageFile }}</td>
            <td>
              <span v-if="song.selectedChart">
                【{{ song.selectedChart.info.genre }}】
                <cite>{{ song.selectedChart.info.artist }}</cite> —
                {{ song.selectedChart.info.title }}
              </span>
            </td>
            <td
              :class="{'table-warning': (song.entryAssignment.entryId || '') !== (song.entryId || '')}"
            >
              <template v-if="song.entryAssignment.entryId">
                {{ song.entryAssignment.entryId }}
              </template>
              <template v-else>
                <form @submit="setEntryID($event, song)">
                  <input
                    list="available-entries"
                    name="entryId"
                    class="entry-input"
                  />
                </form>
              </template>
            </td>
          </tr>
        </tbody>
      </table>
    </template>
    <script>
      components['song-table'] = {
        props: ['songs'],
        template: '#song-table-template',
        methods: {
          setEntryID(event, song) {
            const inputs = Array.from(document.querySelectorAll('.entry-input'))
            const input = event.target.entryId
            const nextInput = inputs[inputs.indexOf(input) + 1]
            event.preventDefault()
            song.entryAssignment.entryId = input.value
            if (nextInput) nextInput.focus()
          }
        }
      }
    </script>

    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@3.1.3/dist/vue-router.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@2.0.0-rc.28/dist/bootstrap-vue.min.js"></script>

    <script>
      for (const [k, v] of Object.entries(components)) Vue.component(k, v)
      window.appInstance = startApp()
    </script>
  </body>
</html>
