<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Be-Music Surge Songlist</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.0.0-rc.28/dist/bootstrap-vue.min.css">
  </head>
  <body>
    <div id="app">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="/">Be-Music Surge</a>
      </nav>
      <main role="main" class="container-fluid">
        <template v-if="report">
          <b-row>
            <b-col>
              <b-form-input
                v-model="filter"
                type="search"
                placeholder="Type to Search"
              ></b-form-input>
            </b-col>
            <b-col cols="auto">
              <b-pagination
                v-model="currentPage"
                :total-rows="items.length"
                :per-page="perPage"
                aria-controls="songlist"
              ></b-pagination>
            </b-col>
          </b-row>
          <b-table
            id="songlist"
            :items="items"
            :per-page="perPage"
            :current-page="currentPage"
            :fields="fields"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :filter="filter"
            :filter-included-fields="filterOn"
            primary-key="_id"
            small
          >
            <template slot="[status]" slot-scope="{ item: song }">
              <span class="badge" :class="statusBadge(song.status)">{{song.status}}</span>
            </template>
          </b-table>
          <!--<table class="table table-sm">-->
          <!--  <thead>-->
          <!--    <tr>-->
          <!--      <th scope="col">Event</th>-->
          <!--      <th scope="col">File</th>-->
          <!--      <th scope="col">Genre</th>-->
          <!--      <th scope="col">Title</th>-->
          <!--      <th scope="col">Artist</th>-->
          <!--      <th scope="col">Status</th>-->
          <!--    </tr>-->
          <!--  </thead>-->
          <!--  <tbody>-->
          <!--    <tr v-for="song in report.songs" :key="song._id" @click="songClick(song)">-->
          <!--      <td>{{ song.eventId }}</td>-->
          <!--      <td>{{ song.packageFile }}</td>-->
          <!--      <td>{{ song.chart && song.chart.info && song.chart.info.genre }}</td>-->
          <!--      <td>{{ song.chart && song.chart.info && song.chart.info.title }}</td>-->
          <!--      <td>{{ song.chart && song.chart.info && song.chart.info.artist }}</td>-->
          <!--      <td><span class="badge" :class="statusBadge(song.status)">{{song.status}}</span</td>-->
          <!--    </tr>-->
          <!--  </tbody>-->
          <!--</table>-->
        </template>
        <div v-else>Loading report...</div>
      </main>
    </div>

    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@2.0.0-rc.28/dist/bootstrap-vue.min.js"></script>
    <script>
      appInstance = new Vue({
        el: '#app',
        data: {
          report: null,
          perPage: 20,
          currentPage: 1,
          sortBy: '_id',
          sortDesc: false,
          filter: '',
          filterOn: ['packageFile'],
          fields: [
            { key: '_id', sortable: true },
            { key: 'eventId', sortable: true },
            { key: 'packageFile', sortable: true },
            { key: 'status', sortable: true },
          ]
        },
        async mounted() {
          try {
            const report = await fetch('/report.json').then(r => r.json())
            this.report = report
          } catch (e) {
            alert(e)
          }
        },
        computed: {
          items() {
            return this.report.songs
          }
        },
        methods: {
          statusBadge(status) {
            return {
              done: 'badge-success',
              error: 'badge-danger',
              pending: 'badge-secondary',
            }[status]
          },
          songClick(song) {
            console.log(JSON.parse(JSON.stringify(song)))
          }
        }
      })
    </script>
  </body>
</html>
